<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3 side-bar">
			<p class="lead">Cook n Eat</p>
			<div class="list-group">
				<li class="list-group-item active"> Placeholder 1</li>
				<li class="list-group-item"> Placeholder 2</li>
				<li class="list-group-item"> Placeholder 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<div class="caption-full">
					<h4><a href="#"><%= recipe.title %></a></h4>
					<p><%= recipe.description %></p>
					<img class="img-responsive" src="<%= recipe.image %>" alt="">
					<p>Prep Time: <%= recipe.prepTime %></p>
					<p>Cook Time: <%= recipe.cookTime %></p>
					<p>Serving: <%= recipe.serving %></p>
					<p>Ingredients:</p>
					<ul>
						<% recipe.ingredient.split("\r").forEach(function(e) { %>
							<li><%= e %></li>
						<% }) %>
					</ul>
					<p>Directions:</p>
					<ol>
						<% recipe.direction.split("\r").forEach(function(e) { %>
							<li><%= e %></li>
						<% }) %>
					</ol>
					<p>
						<em>Submitted By <%= recipe.author.username %></em>
					</p>
					<% if (currentUser && recipe.author.id.equals(currentUser._id)) { %>
					<a class="btn btn-xs btn-warning" href="/recipes/<%= recipe._id %>/edit">Edit</a>
					<form class="delete" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
					<% } %>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% recipe.comments.forEach(function(comment) { %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right">10 days ago</span>
							<p>
								<%= comment.text %>
							</p>
							<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning" 
									href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">
									Edit
								</a>
								<form class="delete" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="delete">
								</form>
							<% } %>
						</div>
					</div>
				<% })%>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>